{% extends 'base.html.twig' %}

{% block title %}Crypto List{% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-3">
        Crypto
    </h1>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Crypto</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for mouvement in mouvements %}
                    <tr>
                        <th scope="row">{{ mouvement.crypto.shortcode }}</th>
                        <td>{{ mouvement.quantity }}</td>
                        <td>{{ mouvement.amount }}</td>
                        <td>{{ mouvement.dateMade|date("d/m/Y") }}</td>
                        {% if mouvement.cashback %}
                            <td>Cashback</td>
                        {% elseif mouvement.brave %}
                            <td>Cashback</td>
                        {% elseif mouvement.earn %}
                            <td>Earning profit</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3 text-center" id="home-result"
             style="background-color: {{ evolution['color'] }};">
            <h3>Result</h3>
            <h5>Total invest : <strong>{{ totalInvest }} €</strong></h5>
            <h5>Current total : <strong>{{ currentTotal }} €</strong></h5>
            <h5>Benefit : <strong>{{ evolution['benefit'] }} €</strong></h5>
            <h5>Evolution : <strong>{{ evolution['pourcent'] }} %</strong></h5>
        </div>
    </div>
    <div class="row">
        {% for crypto in cryptos %}
            <div class="col-3">
                <a href="{{ path('crypto_detail', {shortcode: crypto.shortcode}) }}"><h4
                            class="text-center">{{ crypto.Title }}</h4>
                </a>
            </div>
        {% endfor %}
        <div class="col-3">
            <a href="{{ path('crypto_add') }}" class="btn btn-primary btn-block">Add a crypto</a>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type='text/javascript' src="{{ asset('js/tinycolor.js') }}"></script>
    <script type='text/javascript'>
        /* result text color */
        var alpha = parseFloat($("#home-result").css("background-color").split(',')[3]);
        if (tinycolor($("#home-result").css("background-color")).isDark() && alpha >= 0.3) {
            $("#home-result").css("color", "#fff");
        }
        /* hide and show table row */

        for (i = 3; i < $("tbody tr").length; i++) {
            $($("tbody tr")[i]).hide();
        }
        if ($("tbody tr").length > 3) {
            $("table").after("<button type=\"button\" class=\"btn btn-primary float-right\" id=\"see-more-btn\"> See more </button>");
            $("#see-more-btn").click(() => {
                $("tbody tr").show();
                $("#see-more-btn").remove();
            })
        }
    </script>
{% endblock %}
